{{#if products}}
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex">
        <ul class="list-group">
          {{#each products}}
            <li class="list-group-item">
              <span class="badge badge-secondary">{{this.qty}}</span>
              <strong>{{this.item.title}}</strong>
              <span class="badge badge-secondary">${{this.price}}</span>
              <div class="btn-group">
                <button class="btn btn-primary btn-xs dropdown-toggle" type="button">Action</button>
                <ul class="dropdown-menu">
                  <li><a>aria-expanded</a></li>
                  <li><a>bbbb</a></li>
                </ul>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex">
        <strong> Total ${{totalPrice}} </strong>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex">
        <button class="btn btn-success" type="button">Checkedout</button>
      </div>
    </div>
  </div>
  {{ else }}
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex">
        <h1>No items in cart</h1>
      </div>
    </div>
  </div>
{{/if}}